<nav role="navigation" class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark"
    [ngClass]="{ 'navbar-shrink': isNavbarShrinked }" (window:scroll)="onPageScroll()">
    <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarNav" [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse justify-content-end">
        <ul id="nav-list" class="nav navbar-nav nav-pills">
            <li class="nav-item">
                <a pageScroll uniScrollItem="top" class="nav-link" href="#top">
                    Home
                </a>
            </li>

            <li class="nav-item">
                <a pageScroll uniScrollItem="skills" class="nav-link" href="#skills">
                    Technical Skills
                </a>
            </li>

            <li class="nav-item">
                <a pageScroll uniScrollItem="experiences" class="nav-link" href="#experiences">Professional
                    Experiences
                </a>
            </li>

            <li class="nav-item">
                <a pageScroll uniScrollItem="education" class="nav-link" href="#education">
                    Education & Certifications
                </a>
            </li>
        </ul>
    </div>
</nav>
