<div class="footer p-2">
    <div class="d-flex flex-column flex-md-row">
        <span class="text-center text-md-left">Powered by TechShow Solutions Inc. &copy; 2020</span>
        <span class="flex-fill"></span>
        <span class="text-center text-md-right">
            <a class="sn-icons" href="https://github.com/h36yang" target="_blank" rel="noopener" placement="top"
                ngbTooltip="GitHub">
                <fa-icon [icon]="github" size="2x"></fa-icon>
            </a>
            <a class="sn-icons" href="https://linkedin.com/in/h36yang" target="_blank" rel="noopener" placement="top"
                ngbTooltip="LinkedIn">
                <fa-icon [icon]="linkedin" size="2x"></fa-icon>
            </a>
            <a class="sn-icons" href="https://leetcode.com/h36yang" target="_blank" rel="noopener" placement="top"
                ngbTooltip="LeetCode">
                <fa-icon [icon]="leetcode" size="2x"></fa-icon>
            </a>
            <a class="sn-icons" href="https://hackerrank.com/h36yang" target="_blank" rel="noopener" placement="top"
                ngbTooltip="HackerRank">
                <fa-icon [icon]="hackerrank" size="2x"></fa-icon>
            </a>
        </span>
    </div>
</div>
