<div layout="column" ng-cloak>
    <md-content>
        <md-list flex>
            <md-list-item class="md-2-line">
                <div class="md-list-item-text" layout="column">
                    <h4>Name:</h4>
                    <h3>{{ vm.name }}</h3>
                </div>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item class="md-2-line">
                <div class="md-list-item-text" layout="column">
                    <h4>Gender:</h4>
                    <h3>{{ vm.gender }}</h3>
                </div>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item class="md-2-line">
                <div class="md-list-item-text" layout="column">
                    <h4>Age:</h4>
                    <h3>{{ vm.age }}</h3>
                </div>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item class="md-2-line">
                <div class="md-list-item-text" layout="column">
                    <h4>Description:</h4>
                    <h3>{{ vm.desc }}</h3>
                </div>
            </md-list-item>
            <md-divider></md-divider>
        </md-list>
    </md-content>
</div>
