.welcome-title {
    position: relative;
    top: 45%;
    color: silver;
}

.down-button {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 40px;
}

.down-button fa-icon {
    color: silver;
}

.bg-img-1 {
    background-image: url("../assets/img/gcp_wallpaper_darker.webp");
}

.bg-img-2 {
    background-image: url("../assets/img/vscode_wallpaper.webp");
}

.bg-img-3 {
    background-image: url("../assets/img/gcp_wallpaper.webp");
}
