<header>
  <app-header></app-header>
</header>

<div (window:resize)="adjustHeight()">
  <section uniScrollSpy="top" id="top">
    <div parallax [config]="parallaxConfig" class="fill-screen bg-img-1 text-center text-justify"
      [ngStyle]="customStyle">
      <div class="welcome-title px-3">
        <h1>Jack Yang</h1>
        <h3>Software Engineer @ Google</h3>
        <h5>A leader, innovator and problem solver</h5>
      </div>

      <div class="down-button">
        <a pageScroll class="btn" href="#skills" aria-label="Go to the next section">
          <fa-icon [icon]="faArrowCircleDown" size="4x"></fa-icon>
        </a>
      </div>
    </div>
  </section>

  <section uniScrollSpy="skills" id="skills" class="content-filler">
    <app-skills></app-skills>
  </section>

  <section class="fill-screen fixed-attachment bg-img-2" [ngStyle]="customStyle"></section>

  <section uniScrollSpy="experiences" id="experiences" class="content-filler">
    <app-experiences></app-experiences>
  </section>

  <section class="fill-screen fixed-attachment bg-img-3" [ngStyle]="customStyle"></section>

  <section uniScrollSpy="education" id="education" class="content-filler">
    <app-education></app-education>
  </section>
</div>

<footer>
  <app-footer></app-footer>
</footer>
