body {
    width: 100%;
}

a.active {
    background-color: steelblue !important;
}

.fill-screen {
    background-size: cover;
    background-position: center;
    width: 100%;
}

.fixed-attachment {
    background-attachment: fixed;
}

@media (max-width: 1024px) {
    .fixed-attachment {
        background-attachment: scroll;
    }
}

.wow {
    visibility: visible;
}

@media (prefers-reduced-motion: no-preference) {
    .wow {
        visibility: hidden;
    }
}
